* {}

body {}

a {
    text-decoration: none;
}

.top {
    background: #ffcb5a;
    background-size: contain;
    z-index: 10;
    position: relative;
}

.top:after{
    content: '';
    background: url("../img/topBack.png");
    height: 20px;
    bottom: -10px;
    left: 0;
    overflow: visible;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.menu {
    font-family: "Exo 2.0 Medium";
    list-style: none;
    margin: 0;
    max-width: 100%;
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 10px;
}

.menu__item {
    font-size: 14px;
    padding-right: 25px;
}

.menu__item a {
    color: #444444;
}

.menu__item a:hover {
    color: #636363;
    text-decoration: underline;
}

.social {
    padding-top: 5px;
    position: relative;
}

.social__item {
    color: #444444;
    min-height: 40px;
    min-width: 40px;
    padding-top: 8px;
}

.social__item a {
    color: #444444;
}

.social__item:hover {
    background: #ffffff;
    border: 3px solid #ffe5ad;
    border-radius: 50%;
    cursor: pointer;
    line-height: 120%;
    text-align: center;
}

.social__item:hover a {
    color: #3b70a1;
    position: relative;
    top: -1px;
}

.banner {
    background: url("../img/bannerBack.png") repeat-x bottom;
    padding-top: 40px;
    position: relative;
    z-index: 3;
    text-align: center;
}

.banner__logo {
    padding-left: 80px;
    padding-bottom: 20px;
}

.banner__slider{
    padding-bottom: 50px;
}

.categories {
    background: url("../img/catPat.png");
    padding-bottom: 30px;
    position: relative;
}

.categories::before {
    background: url("../img/catTop.png");
    content: '';
    height: 20px;
    top: -10px;
    left: 0;
    overflow: visible;
    position: absolute;
    width: 100%;
    z-index: 4;
}

.categories::after {
    background: url("../img/catBot.png");
    bottom: -10px;
    content: '';
    height: 20px;
    left: 0;
    overflow: visible;
    position: absolute;
    width: 100%;
    z-index: 4;
}

.cat-column>div{
    margin-top: 16px;
}

.cat-column>div:nth-child(1){
    margin-top: 39px;
}

.cat-column>div:nth-child(n+4){
    margin-bottom: 26px;
}

.cat-column>div{
    margin-left: 10px;
}

.big-container{
    height: 275px;
    width: 275px;
    z-index: 1;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.big-container img{
    position: absolute;
    height: auto;
    z-index: 2;
}

.big-container span{
    background: rgba(255, 255, 255, 0.75);
    bottom: 0;
    color: #444444;
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    text-align: center;
    z-index: 3;
    min-height: 40px;
    width: 100%;
}

.big-container:hover:after {
    background: #fff;
    border-radius: 10px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

.big-container:hover:before {
    background: url("../img/catHover.png") 0 0 no-repeat;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 50px;
    left: 20%;
    position: absolute;
    top: 40%;
    width: 164px;
    z-index: 5;
}

.small-container{
    height: 129px;
    width: 275px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.small-container img{
    position: absolute;
    z-index: 2;
    height: auto;
}

.small-container span{
    background: rgba(255, 255, 255, 0.75);
    bottom: 0;
    color: #444444;
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 300;
    margin-top: 5px;
    min-height: 40px;
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 3;
}

.small-container:hover:after{
    background: #fff;
    border-radius: 10px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

.small-container:hover:before{
    background: url("../img/catHover.png") 0 0 no-repeat;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 50px;
    left: 20%;
    position: absolute;
    top: 25%;
    width: 164px;
    z-index: 5;
}

.categories__electronics {
    background: radial-gradient(#ffffff, rgba(253, 236, 125, 1));
}

.categories__electronics img {
    width: 220px;
    margin-left: 15px;
    margin-top: 15px;
}

.categories__electronics span {
    margin-top: 5px;
}

.categories__keychains {
    background: radial-gradient(#ffffff, #a2d5fd);
}

.categories__keychains img {
    margin-top: -40px;
    min-width: 275px;
}

.categories__moneybox {
    background: radial-gradient(#ffffff, #a2d5fd);
}

.categories__moneybox img {
    margin-left: 70px;
    margin-top: -5px;
    min-width: 10px;
}

.categories__interior {
    background: radial-gradient(#ffffff, #ffbc68);
}

.categories__interior img {
    margin-top: 5px;
    min-width: 275px;
}

.categories__office {
    background: radial-gradient(#ffffff, #ffbc68);
}

.categories__office img {
    margin-left: 45px;
    margin-top: 5px;
    max-width: 275px;
}

.categories__leather {
    background: radial-gradient(#ffffff, #f1a97e);
}

.categories__leather img {
    width: 220px;
    margin-left: 20px;
    margin-top: 50px;
}

.categories__accessories {
    background: radial-gradient(#ffffff, #eb6f5f);
}

.categories__accessories img {
    margin-top: 20px;
    min-height: 140px;
}

.categories__wood {
    background: radial-gradient(#ffffff, #79d2d3);
}

.categories__wood img {
    margin-left: 50px;
    margin-top: 5px;
    max-width: 275px;
}


.categories__dishes {
    background: radial-gradient(#ffffff, #79d2d3);
}

.categories__dishes img {
    margin-left: 25px;
    max-width: 275px;
}

.categories__board {
    background: radial-gradient(#ffffff, #e87f9a);
}

.categories__board img {
    margin-left: 45px;
    max-width: 190px;
}

.categories__clock {
    background: radial-gradient(#ffffff, #e87f9a);
    min-width: 275px;
}

.categories__clock img {
    margin-left: 50px;
    max-width: 190px;
}

.categories__wow {
    background: radial-gradient(#ffffff, #f1a97e);
}

.categories__wow img {
    margin-left: -5px;
    margin-top: 2px;
    min-width: 275px;
}

.products {
    background: url("../img/productsBack.png") repeat-x top;
}

.products__title {
    color: #a4149f;
    background: linear-gradient(180deg, #a4139f, #434c59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Nautilus Pompilius";
    font-size: 50px;
    font-weight: 400;
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.products__item {
    background: #ffffff;
    border-radius: 10px;
    height: 365px;
    width: 245px;
    margin-left: 20px;
    overflow: hidden;
    margin-bottom: 60px;
}

.products__item:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.products__item img{
    width: 245px;
}

.products__item img:hover{
    opacity: 0.75;
}

.products__item-title{
    text-align: center;
    font-weight: 200;
    font-size: 21px;
    font-family: "Exo 2";
}

.products__item-title a{
    text-decoration: none;
    color: #444444;
}

.products-add{
    float: right;
    font-size: 14px;
    color: #ffffff;
    width: 113px;
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
    margin-right: 10px;
    height: 30px;
    background: #a4149f;
    border-radius: 3px;
    font-weight: 300;
    font-family: "Exo 2";
}

.products-add a{
    text-decoration: none;
    color: #ffffff;
}

.products-add:hover{
    background: #c946c4;
}

.products-price{
    font-size: 26px;
    color: #a4149f;
    font-weight: 400;
    font-family: "Nautilus Pompilius";
    margin-left: 10px;
}

.stars {
  height: 14px;
  line-height: 14px;
  margin: 7px 0;
  text-align: center;
}
.stars:before {
  content: "\f005\f005\f005\f005\f006";
  color: #EFB71C;
  font-size: 14px;
  font-family: FontAwesome;
}

.filters {
    background: #ffc55a;
    height: 470px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.filters::after {
    background: url("../img/filtersBack.png");
    top: -10px;
    content: '';
    height: 20px;
    left: 0;
    overflow: visible;
    position: absolute;
    width: 100%;
    z-index: 5;
}

.filters::before {
    background: url("../img/filtersBack.png");
    bottom: -10px;
    content: '';
    height: 20px;
    left: 0;
    overflow: visible;
    position: absolute;
    width: 100%;
    z-index: 5;
}

.filters h2 {
    color: #ffffff;
    font-family: "Nautilus Pompilius";
    font-size: 40px;
    font-weight: 400;
    margin-top: 60px;
}

.filters p {
    color: #ffffff;
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 400;
    margin-top: -10px;
}

.filters__menu {
    padding-top: 5px;
}

.filters__menu-item-circle {
    background: #ffffff;
    border: 3px solid #ffe5ad;
    border-radius: 50%;
    line-height: 120%;
    margin-left: 34px;
    min-height: 193px;
    min-width: 193px;
    padding-top: 7px;
    position: relative;
    text-align: center;
}

.filters__menu-item a {
    position: relative;
    text-decoration: none;
}

.filters__menu-item-circle:hover {
    background: #ffffff;
    border: 3px solid #d17185;
    border-radius: 50%;
    cursor: pointer;
    line-height: 120%;
    position: relative;
    text-align: center;
}

.filters__menu-item-circle p {
    font-family: "Nautilus Pompilius";
    font-size: 24px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 200px;
    position: absolute;
    text-decoration: none;
}

.filters__menu-item p:hover {
    color: #a4149f;
}

.menu-item-1-img {
    margin-left: -95px;
    margin-top: 10px;
    position: absolute;
}

.menu-item-2-img {
    margin-left: -95px;
    margin-top: -5px;
    position: absolute;
}

.menu-item-3-img {
    margin-left: -93px;
    margin-top: 34px;
    width: 200px;
    position: absolute;
}

.menu-item-4-img {
    margin-left: -65px;
    margin-top: 10px;
    position: absolute;
}

.menu-item-5-img {
    margin-left: -80px;
    margin-top: 20px;
    width: 170px;
    position: absolute;
}

.seo {
    background: #ffffff;
}

.seo__text h2 {
    background: linear-gradient(180deg, #a4139f, #434c59);
    color: #a4149f;
    font-family: "Nautilus Pompilius";
    font-size: 40px;
    font-weight: 400;
    margin-top: 55px;
    min-height: 60px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.seo__text p {
    color: #444444;
    font-family: "Exo 2";
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding-bottom: 10px;
}

.seo_banner {
    height: 539px;
    overflow: hidden;
    position: relative;
}

.seoBallon {
    margin-top: 55px;
}

.seoPhoto {
    height: 105%;
    margin-left: -50px;
    margin-top: 0px;
    position: absolute;
}

.seo__banner p {
    font-family: "Exo 2";
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-top: 30px;
    text-align: right;
    width: 313px;
}

.seo__banner a {
    color: #a4149f;
    text-decoration: none;
}

.seo__banner a:hover {
    color: #a4149f;
}

.subs {
    background: #6fcee6;
    position: relative;
}

.subs::before {
    background: url("../img/subWave.png");
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: -10px;
    width: 100%;
}

.subs::after {
    background: url("../img/subWave.png");
    bottom: -10px;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}

.subs h3 {
    color: #ffffff;
    font-family: "Nautilus Pompilius";
    font-size: 26px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 20px;
}

.subs p {
    color: #ffffff;
    font-family: "Exo 2";
    font-size: 14px;
    font-weight: 300;
    margin-top: -5px;
}

.subs form {
    border-radius: 18px;
}

.subs [type="email"] {
    border: none;
    border-radius: 18px;
    height: 35px;
    outline: none;
    padding-left: 20px;
    position: relative;
    vertical-align: middle;
    width: 539px;
    margin-bottom: 30px;
}

.subs [type="submit"] {
    background-color: #ffdc39;
    border: none;
    border-radius: 18px;
    color: #444444;
    font-family: "Exo 2";
    font-size: 14px;
    font-weight: 500;
    height: 35px;
    line-height: 22px;
    margin-left: -229px;
    outline: none;
    position: absolute;
    width: 229px;
}

.footer {
    background: #fff;
    margin-top: 30px;
}

.footer p {
    font-family: "Exo 2";
    font-size: 14px;
    width: 370px;
}
