* {}

body {}

a {
    text-decoration: none;
}

.top {
    background: url("../img/topBack.png") repeat-x;
    background-size: contain;
    height: 60px;
    z-index: 10;
}

.menu {
    font-family: "Exo 2.0 Medium";
    list-style: none;
    margin: 0;
    max-width: 820px;
    padding-left: 0;
    padding-top: 8px;
}

.menu__item {
    display: inline;
    font-size: 14px;
    padding-right: 25px;
}

.menu__item a {
    color: #444444;
}

.menu__item a:hover {
    color: #636363;
    text-decoration: underline;
}

.social {
    padding-top: 5px;
}

.social__item {
    color: #444444;
    min-height: 40px;
    min-width: 40px;
    padding-top: 7px;
    text-align: center;
}

.social__item a {
    color: #444444;
}

.social__item:hover {
    background: #ffffff;
    border: 3px solid #ffe5ad;
    border-radius: 50%;
    cursor: pointer;
    line-height: 120%;
    text-align: center;
}

.social__item:hover a {
    color: #3b70a1;
    position: relative;
    top: -1px;
}

.banner {
    background: url("../img/bannerBack.png") repeat-x bottom;
    height: 360px;
    padding-top: 40px;
    position: relative;
    z-index: 9;
}

.banner__logo {
    padding-left: 80px;
}

.banner__slider {}

.categories {
    background: url("../img/catPat.png");
    padding-bottom: 30px;
    position: relative;
}

.categories::before {
    background: url("../img/catTop.png");
    content: '';
    height: 20px;
    left: 0;
    overflow: visible;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: 4;
}

.categories::after {
    background: url("../img/catBot.png");
    bottom: -10px;
    content: '';
    height: 20px;
    left: 0;
    overflow: visible;
    position: absolute;
    width: 100%;
    z-index: 4;
}

.categories__electronics {
    background: #fdec7d;
    background: radial-gradient(#ffffff, rgba(253, 236, 125, 1));
    border-radius: 10px;
    margin-top: 55px;
    min-height: 275px;
    min-width: 275px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.categories__electronics img {
    margin-left: 15px;
    margin-top: 15px;
    min-height: 220px;
    min-width: 220px;
    overflow: hidden;
    position: absolute;
    z-index: 2;
}

.categories__electronics span {
    background: rgba(255, 255, 255, 0.75);
    bottom: 0;
    color: #444444;
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 300;
    margin-top: 5px;
    min-height: 40px;
    min-width: 275px;
    position: absolute;
    text-align: center;
    z-index: 3;
}

.categories__electronics:hover:after {
    background: #fff;
    border-radius: 10px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

.categories__electronics:hover:before {
    background: url("../img/catHover.png") 0 0 no-repeat;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 50px;
    left: 20%;
    position: absolute;
    top: 40%;
    width: 164px;
    z-index: 5;
}

.categories__keychains {
    background: #fdec7d;
    background: radial-gradient(#ffffff, #a2d5fd);
    border-radius: 10px;
    margin-top: 16px;
    min-height: 129px;
    min-width: 275px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.categories__keychains img {
    margin-top: -40px;
    min-height: 129px;
    min-width: 275px;
    position: absolute;
    z-index: 2;
}

.categories__keychains span {
    background: rgba(255, 255, 255, 0.75);
    bottom: 0;
    color: #444444;
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 300;
    margin-top: 5px;
    min-height: 40px;
    min-width: 275px;
    position: absolute;
    text-align: center;
    z-index: 3;
}

.categories__keychains:hover:after {
    background: #fff;
    border-radius: 10px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

.categories__keychains:hover:before {
    background: url("../img/catHover.png") 0 0 no-repeat;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 50px;
    left: 20%;
    position: absolute;
    top: 25%;
    width: 164px;
    z-index: 5;
}

.categories__moneybox {
    background: #fdec7d;
    background: radial-gradient(#ffffff, #a2d5fd);
    border-radius: 10px;
    margin-bottom: 26px;
    margin-top: 16px;
    min-height: 129px;
    min-width: 275px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.categories__moneybox img {
    margin-left: 70px;
    margin-top: -5px;
    max-height: 110px;
    min-width: 10px;
    overflow: hidden;
    position: absolute;
    z-index: 2;
}

.categories__moneybox span {
    background: rgba(255, 255, 255, 0.75);
    bottom: 0;
    color: #444444;
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 300;
    margin-top: 5px;
    min-height: 40px;
    min-width: 275px;
    position: absolute;
    text-align: center;
    z-index: 3;
}

.categories__moneybox:hover:after {
    background: #fff;
    border-radius: 10px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

.categories__moneybox:hover:before {
    background: url("../img/catHover.png") 0 0 no-repeat;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 50px;
    left: 20%;
    position: absolute;
    top: 25%;
    width: 164px;
    z-index: 5;
}

.categories__interior {
    background: #fdec7d;
    background: radial-gradient(#ffffff, #ffbc68);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 55px;
    min-height: 129px;
    min-width: 275px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.categories__interior img {
    margin-top: 5px;
    min-height: 129px;
    min-width: 275px;
    position: absolute;
    z-index: 2;
}

.categories__interior span {
    background: rgba(255, 255, 255, 0.75);
    bottom: 0;
    color: #444444;
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 300;
    height: 40px;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    width: 275px;
    z-index: 3;
}

.categories__interior:hover:after {
    background: #fff;
    border-radius: 10px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

.categories__interior:hover:before {
    background: url("../img/catHover.png") 0 0 no-repeat;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 50px;
    left: 20%;
    position: absolute;
    top: 25%;
    width: 164px;
    z-index: 5;
}

.categories__office {
    background: #fdec7d;
    background: radial-gradient(#ffffff, #ffbc68);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 16px;
    min-height: 129px;
    min-width: 275px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.categories__office img {
    margin-left: 45px;
    margin-top: 5px;
    max-width: 275px;
    min-height: 110px;
    position: absolute;
    z-index: 2;
}

.categories__office span {
    background: rgba(255, 255, 255, 0.75);
    bottom: 0;
    color: #444444;
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 300;
    height: 40px;
    margin-top: 5px;
    position: absolute;
    text-align: center;
    width: 275px;
    z-index: 3;
}

.categories__office:hover:after {
    background: #fff;
    border-radius: 10px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

.categories__office:hover:before {
    background: url("../img/catHover.png") 0 0 no-repeat;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 50px;
    left: 20%;
    position: absolute;
    top: 25%;
    width: 164px;
    z-index: 5;
}

.categories__leather {
    background: #fdec7d;
    background: radial-gradient(#ffffff, #f1a97e);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 16px;
    min-height: 275px;
    min-width: 275px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.categories__leather img {
    margin-left: 10px;
    margin-top: 30px;
    min-height: 110px;
    min-width: 220px;
    position: absolute;
    z-index: 2;
}

.categories__leather span {
    background: rgba(255, 255, 255, 0.75);
    bottom: 0;
    color: #444444;
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 300;
    min-height: 40px;
    min-width: 275px;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    z-index: 3;
}

.categories__leather:hover:after {
    background: #fff;
    border-radius: 10px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

.categories__leather:hover:before {
    background: url("../img/catHover.png") 0 0 no-repeat;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 50px;
    left: 20%;
    position: absolute;
    top: 40%;
    width: 164px;
    z-index: 5;
}

.categories__accessories {
    background: #fdec7d;
    background: radial-gradient(#ffffff, #eb6f5f);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 55px;
    min-height: 275px;
    min-width: 275px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.categories__accessories img {
    margin-top: 20px;
    min-height: 140px;
    min-width: 275px;
    position: absolute;
    z-index: 2;
}

.categories__accessories span {
    background: rgba(255, 255, 255, 0.75);
    bottom: 0;
    color: #444444;
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 300;
    min-height: 40px;
    min-width: 275px;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    z-index: 3;
}

.categories__accessories:hover:after {
    background: #fff;
    border-radius: 10px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

.categories__accessories:hover:before {
    background: url("../img/catHover.png") 0 0 no-repeat;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 50px;
    left: 20%;
    position: absolute;
    top: 40%;
    width: 164px;
    z-index: 5;
}

.categories__wood {
    background: #fdec7d;
    background: radial-gradient(#ffffff, #79d2d3);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 16px;
    min-height: 129px;
    min-width: 275px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.categories__wood img {
    margin-left: 50px;
    margin-top: 5px;
    max-width: 275px;
    min-height: 80px;
    position: absolute;
    z-index: 2;
}

.categories__wood span {
    background: rgba(255, 255, 255, 0.75);
    bottom: 0;
    color: #444444;
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 300;
    min-height: 40px;
    min-width: 275px;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    z-index: 3;
}

.categories__wood:hover:after {
    background: #fff;
    border-radius: 10px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

.categories__wood:hover:before {
    background: url("../img/catHover.png") 0 0 no-repeat;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 50px;
    left: 20%;
    position: absolute;
    top: 25%;
    width: 164px;
    z-index: 5;
}

.categories__dishes {
    background: #fdec7d;
    background: radial-gradient(#ffffff, #79d2d3);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 16px;
    min-height: 129px;
    min-width: 275px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.categories__dishes img {
    margin-left: 25px;
    max-width: 275px;
    min-height: 110px;
    position: absolute;
    z-index: 2;
}

.categories__dishes span {
    background: rgba(255, 255, 255, 0.75);
    bottom: 0;
    color: #444444;
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 300;
    min-height: 40px;
    min-width: 275px;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    z-index: 3;
}

.categories__dishes:hover:after {
    background: #fff;
    border-radius: 10px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

.categories__dishes:hover:before {
    background: url("../img/catHover.png") 0 0 no-repeat;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 50px;
    left: 20%;
    position: absolute;
    top: 25%;
    width: 164px;
    z-index: 5;
}

.categories__board {
    background: #fdec7d;
    background: radial-gradient(#ffffff, #e87f9a);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 55px;
    min-height: 129px;
    min-width: 275px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.categories__board img {
    margin-left: 45px;
    max-width: 190px;
    min-height: 129px;
    position: absolute;
    z-index: 2;
}

.categories__board span {
    background: rgba(255, 255, 255, 0.75);
    bottom: 0;
    color: #444444;
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 300;
    height: 40px;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    width: 275px;
    z-index: 3;
}

.categories__board:hover:after {
    background: #fff;
    border-radius: 10px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

.categories__board:hover:before {
    background: url("../img/catHover.png") 0 0 no-repeat;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 50px;
    left: 20%;
    position: absolute;
    top: 25%;
    width: 164px;
    z-index: 5;
}

.categories__clock {
    background: #fdec7d;
    background: radial-gradient(#ffffff, #e87f9a);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 16px;
    min-height: 129px;
    min-width: 275px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.categories__clock img {
    margin-left: 50px;
    max-width: 190px;
    min-height: 129px;
    position: absolute;
    z-index: 2;
}

.categories__clock span {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    bottom: 0;
    color: #444444;
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 300;
    height: 40px;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    width: 275px;
    z-index: 3;
}

.categories__clock:hover:after {
    background: #fff;
    border-radius: 10px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

.categories__clock:hover:before {
    background: url("../img/catHover.png") 0 0 no-repeat;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 50px;
    left: 20%;
    position: absolute;
    top: 25%;
    width: 164px;
    z-index: 5;
}

.categories__clock span:hover:before {
    visibility: hidden;
}

.categories__wow {
    background: #fdec7d;
    background: radial-gradient(#ffffff, #f1a97e);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 16px;
    min-height: 275px;
    min-width: 275px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.categories__wow img {
    margin-left: -5px;
    margin-top: 2px;
    min-height: 275px;
    min-width: 275px;
    position: absolute;
    z-index: 2;
}

.categories__wow:hover:after {
    background: #fff;
    border-radius: 10px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

.categories__wow:hover:before {
    background: url("../img/catHover.png") 0 0 no-repeat;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 50px;
    left: 20%;
    position: absolute;
    top: 40%;
    width: 164px;
    z-index: 5;
}

.products {
    background: url("../img/productsBack.png") repeat-x top;
}

.products__title {
    color: #a4149f;
    font-family: "Nautilus Pompilius";
    font-size: 50px;
    font-weight: 400;
    margin-top: 55px;
    text-align: center;
}

.products__tablets {
    background: #ffffff;
    border-radius: 10px;
    height: 365px;
    width: 245px;
}

.products__speakers {
    background: #ffffff;
    border-radius: 10px;
    height: 365px;
    width: 245px;
}

.products__shower {
    background: #ffffff;
    border-radius: 10px;
    height: 365px;
    width: 245px;
}

.products__anti {
    background: #ffffff;
    border-radius: 10px;
    height: 365px;
    width: 245px;
}

.filters {
    background: #ffc55a;
    height: 470px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.filters::after {
    background: url("../img/filtersBack.png");
    bottom: -10px;
    content: '';
    height: 20px;
    left: 0;
    overflow: visible;
    position: absolute;
    width: 100%;
    z-index: 5;
}

.filters h2 {
    color: #ffffff;
    font-family: "Nautilus Pompilius";
    font-size: 40px;
    font-weight: 400;
    margin-top: 60px;
}

.filters p {
    color: #ffffff;
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 400;
    margin-top: -10px;
}

.filters__menu {
    padding-top: 5px;
}

.filters__menu-item-circle {
    background: #ffffff;
    border: 3px solid #ffe5ad;
    border-radius: 50%;
    line-height: 120%;
    margin-left: 34px;
    min-height: 193px;
    min-width: 193px;
    padding-top: 7px;
    position: relative;
    text-align: center;
}

.filters__menu-item a {
    position: relative;
    text-decoration: none;
}

.filters__menu-item-circle:hover {
    background: #ffffff;
    border: 3px solid #d17185;
    border-radius: 50%;
    cursor: pointer;
    line-height: 120%;
    position: relative;
    text-align: center;
}

.filters__menu-item-circle p {
    font-family: "Nautilus Pompilius";
    font-size: 24px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 200px;
    position: absolute;
    text-decoration: none;
}

.filters__menu-item p:hover {
    color: #a4149f;
}

.menu-item-year-img {
    margin-left: -95px;
    margin-top: 10px;
    position: absolute;
}

.menu-item-year {
    margin-left: -95px;
    margin-top: 10px;
    position: absolute;
}

.menu-item-year {
    margin-left: -95px;
    margin-top: 10px;
    position: absolute;
}

.menu-item-year {
    margin-left: -95px;
    margin-top: 10px;
    position: absolute;
}

.menu-item-year {
    margin-left: -95px;
    margin-top: 10px;
    position: absolute;
}

.seo {
    background: #ffffff;
    height: 565px;
}

.seo__text h2 {
    background: linear-gradient(0deg, #a4139f, #434c59);
    color: #a4149f;
    font-family: "Nautilus Pompilius";
    font-size: 40px;
    font-weight: 400;
    margin-top: 55px;
    min-height: 60px;
    webkit-background-clip: text;
    webkit-text-fill-color: transparent;
}

.seo__text p {
    color: #444444;
    font-family: "Exo 2";
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    width: 537px;
}

.seo_banner {
    height: 539px;
    overflow: hidden;
    position: relative;
}

.seoBallon {
    margin-top: 55px;
}

.seoPhoto {
    height: 105%;
    margin-left: -50px;
    margin-top: 0px;
    position: absolute;
}

.seo__banner p {
    font-family: "Exo 2";
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-top: 30px;
    text-align: right;
    width: 313px;
}

.seo__banner a {
    color: #a4149f;
    text-decoration: none;
}

.seo__banner a:hover {
    color: #a4149f;
}

.subs {
    background: #6fcee6;
    height: 147px;
    position: relative;
}

.subs.subs::before {
    background: url("../img/subWave.png");
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: -5%;
    width: 100%;
}

.subs::after {
    background: url("../img/subWave.png");
    bottom: -5%;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}

.subs h3 {
    color: #ffffff;
    font-family: "Nautilus Pompilius";
    font-size: 26px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 20px;
}

.subs p {
    color: #ffffff;
    font-family: "Exo 2";
    font-size: 14px;
    font-weight: 300;
    margin-top: -5px;
}

.subs form {
    border-radius: 18px;
}

.subs [type="email"] {
    border: none;
    border-radius: 18px;
    height: 35px;
    outline: none;
    padding-left: 20px;
    position: relative;
    vertical-align: middle;
    width: 539px;
}

.subs [type="submit"] {
    background-color: #ffdc39;
    border: none;
    border-radius: 18px;
    color: #444444;
    font-family: "Exo 2";
    font-size: 14px;
    font-weight: 500;
    height: 35px;
    line-height: 22px;
    margin-left: -229px;
    outline: none;
    position: absolute;
    width: 229px;
}

.footer {
    background: #fff;
    margin-top: 30px;
}

.footer p {
    font-family: "Exo 2";
    font-size: 14px;
    width: 370px;
}